/testenvironment.properties
/bin
/build
/dist
/ivyCache
/google.properties
/debug
/*.launch
/ssh.configuration
/findbugsReport.html
/lib
/.settings
/.project
/.classpath
/.factorypath
/lombok.iml
/.idea
*.iml
*.markdown.html
/junit*.properties
/eclipse.location
/.apt_generated/
/out
/website/lombokSupporters
/pom.xml



# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files #

bin
target
build/
.gradle

# Eclipse Project Files #

.classpath
.project
.settings
.attach_pid*

# IntelliJ IDEA Files #
.idea/
*.ipr
*.iws
*.idea

# VS Code #
.vscode/

# Spring Bootstrap artifacts
*.log
*.gz
dependency-reduced-pom.xml

mem*.db

README.html